anyio==4.13.0 ; python_version >= "3.11"
asttokens==3.0.1 ; python_version >= "3.11"
attrs==26.1.0 ; python_version >= "3.11"
cffi==2.0.0 ; os_name == "nt" and implementation_name != "pypy" and python_version >= "3.11"
click==8.3.1 ; python_version >= "3.11"
colorama==0.4.6 ; (sys_platform == "win32" or platform_system == "Windows") and python_version >= "3.11"
coverage==7.13.5 ; python_version >= "3.11"
decorator==5.2.1 ; python_version >= "3.11"
deepmerge==2.0 ; python_version >= "3.11"
executing==2.2.1 ; python_version >= "3.11"
ghp-import==2.1.0 ; python_version >= "3.11"
griffelib==2.0.1 ; python_version >= "3.11"
idna==3.11 ; python_version >= "3.11"
iniconfig==2.3.0 ; python_version >= "3.11"
ipdb==0.13.13 ; python_version >= "3.11"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.11"
ipython==9.10.0 ; python_version >= "3.11"
jedi==0.19.2 ; python_version >= "3.11"
jinja2==3.1.6 ; python_version >= "3.11"
librt==0.8.1 ; python_version >= "3.11" and platform_python_implementation != "PyPy"
markdown==3.10.2 ; python_version >= "3.11"
markupsafe==3.0.3 ; python_version >= "3.11"
matplotlib-inline==0.2.1 ; python_version >= "3.11"
mergedeep==1.3.4 ; python_version >= "3.11"
mkdocs-autorefs==1.4.4 ; python_version >= "3.11"
mkdocs-get-deps==0.2.2 ; python_version >= "3.11"
mkdocs==1.6.1 ; python_version >= "3.11"
mkdocstrings-python==2.0.3 ; python_version >= "3.11"
mkdocstrings==1.0.3 ; python_version >= "3.11"
mypy-extensions==1.1.0 ; python_version >= "3.11"
mypy==1.19.1 ; python_version >= "3.11"
outcome==1.3.0.post0 ; python_version >= "3.11"
packaging==26.0 ; python_version >= "3.11"
parso==0.8.6 ; python_version >= "3.11"
pathspec==1.0.4 ; python_version >= "3.11"
pexpect==4.9.0 ; python_version >= "3.11" and sys_platform != "win32" and sys_platform != "emscripten"
platformdirs==4.9.4 ; python_version >= "3.11"
pluggy==1.6.0 ; python_version >= "3.11"
prompt-toolkit==3.0.52 ; python_version >= "3.11"
ptyprocess==0.7.0 ; python_version >= "3.11" and sys_platform != "win32" and sys_platform != "emscripten"
pure-eval==0.2.3 ; python_version >= "3.11"
pycparser==3.0 ; os_name == "nt" and implementation_name != "pypy" and implementation_name != "PyPy" and python_version >= "3.11"
pygments==2.19.2 ; python_version >= "3.11"
pymdown-extensions==10.21 ; python_version >= "3.11"
pytest-cov==7.1.0 ; python_version >= "3.11"
pytest==9.0.2 ; python_version >= "3.11"
python-dateutil==2.9.0.post0 ; python_version >= "3.11"
pyyaml-env-tag==1.1 ; python_version >= "3.11"
pyyaml==6.0.3 ; python_version >= "3.11"
six==1.17.0 ; python_version >= "3.11"
sniffio==1.3.1 ; python_version >= "3.11"
sortedcontainers==2.4.0 ; python_version >= "3.11"
stack-data==0.6.3 ; python_version >= "3.11"
traitlets==5.14.3 ; python_version >= "3.11"
trio==0.33.0 ; python_version >= "3.11"
typing-extensions==4.15.0 ; python_version >= "3.11"
watchdog==6.0.0 ; python_version >= "3.11"
wcwidth==0.6.0 ; python_version >= "3.11"
zensical==0.0.29 ; python_version >= "3.11"
